* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

:root {
  --Gray-950: hsl(0, 0%, 17%);
  --Gray-400: hsl(0, 0%, 58%);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/pattern-bg-desktop.png);
  background-size:contain;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: fit-content;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

h1{
  color: white;
}

p {
  font-size: 18px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  height:3rem;
  font-size: 18px;
  border-radius: 1rem 0 0 1rem;
  border: none;
  padding: 0 1rem;
}

input:focus{
  outline: none;
  box-shadow: 0 0 10px 0.5px white;
  
  
}

button {
  width: 1rem;
  height: 1rem;
  all: unset;
  border: 1px;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--Gray-950);
  cursor: pointer;
}

button>img{
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.infoWrap {
  width: fit-content;
  max-width: 80%;
  padding: 1rem;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.301);
  border-radius: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: white;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.info:nth-child(1), .info:nth-child(2), .info:nth-child(3){
  border-right: 1px solid var(--Gray-400);
}

.info>p:first-child{
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--Gray-400);
}

.info>p:last-child{
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (max-width:600px) {
  header{
    width: 100%;
    height: 100vh;
  }

  body {
    background-image: url(../public/images/pattern-bg-mobile.png);
  }

  h1{
    text-align: center;
  }

  input {
    width: 90%;
  }

  .infoWrap {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .info {
    padding: 1rem 0;
  }

  .info:nth-child(1), .info:nth-child(2), .info:nth-child(3){
  border: none;
  border-bottom: 1px solid var(--Gray-400);
  }

  .info>p{
    text-align: center;
  }
}